[submodule "examples/vendor/sokol"]
	path = examples/vendor/sokol
	url = https://github.com/floooh/sokol.git
[submodule "examples/vendor/SDL"]
	path = examples/vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
